.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1.5rem;
  border-radius: 2.5rem;
  transition: color 0.15s;
  font-weight: 500;
  height: 4rem;
  width: 14rem;
}
