.container-welcome {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  flex-direction: column;
}

.image-pokemon{
  width: 80%;
}

.container-welcome,
.container-image-pokemon,
.container-image {
  display: flex;
}

.container-welcome,
.container-image-pokemon,
.container-image {
  justify-content: center;
  align-items: center;
}


.container-text {
  width: 80%;
}

.container-text, .container-button{
  margin-top: 10%;
}

.container-text__title {
  text-align: center;
}




@media(min-width:768px){

  .container-welcome {
    top: 50%;
  }

  .container-text, .container-button{
    margin-top: 3%;
  }

  .container-text__description{
    width: 46%;
    margin: 0 auto;
    margin-top: 2%;
  }



}
